{% extends "base.html" %}

{% block content %}

<div class="text-center">

    <h1 class="display-4 fw-bold">
        RAD Route Expander
    </h1>

    <p class="lead mt-3">
        Saudi Air Navigation Services
    </p>

    <div class="mt-5">

        <a href="/expand" class="btn btn-primary btn-lg m-2">
            Expand Route
        </a>

        <a href="/search" class="btn btn-success btn-lg m-2">
            Search RAD
        </a>

        <a href="/expand_excel" class="btn btn-expand-excel btn-lg m-2">
            Expand Excel File
        </a>

    </div>

    

</div>

{% endblock %}